<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>

            <div class="container">
                <h2>
                    <%= player.name %>
                </h2>

                <p> <img src="../<%= player.flag %>" class="" alt="..." width="80px"></p>

                <a class="deleteplayer btn btn-warning" data-doc="<%= player._id %>"> <i class="fa fa-trash"></i> </a>
                <p>
                    <%= player.gamertag%>
                </p>
            </div>

            <%- include("../partials/footer.ejs") %>

                <script>
                    const delplayer = document.querySelector('a.deleteplayer');
                    delplayer.addEventListener('click', (e) => {
                        const endpoint = `/players/${delplayer.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE'
                        })
                            .then((response) => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch((err) => console.log(err));
                    })

                </script>
    </body>

</html>