<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>

            <div class="container">
             
                        <div class="well details">
                           
                                <div class="scorewrapper">
                                    <h2><img src="../<%= player.flag %>" class="" alt="..." width="25px">
                                        <%= player.gamertag %></h2>                                   
                                    <p><strong>Name: </strong><%= player.name %></p>
                                    <p><strong>Age: </strong><%= player.age %> </p>
                                    <p class="checkout-date"><strong>Chekout: </strong>  <%= moment(player.checkout).format( 'DD-MMM-YYYY' ) %> </p>
                                    <p class="isactive" id="isactive"><strong>Active: </strong><%= player.isactive %> </p>
                                    <a class="deleteplayer btn btn-warning" data-doc="<%= player._id %>"> <i class="fa fa-trash"></i> </a>
                                    <a href="/updateplayer/<%= player._id %>"><button class="btn btn-success"><i class="fa fa-cloud-upload"
                                                aria-hidden="true"></i></button></a>                             
                                </div>
                                <div class="text-xs-center scorewrapper">   
                                    <p class="text-xs-center h2"><strong>Skills & Scores</strong></p>
                                                        
                                    <div class="score-single"> <img src="/img/games/fortnite.png" alt="fortnite" class="img-fluid img-thumbnail float-left">                                                                                                 
                                        <span class="avg"> <%= player.fortnitescore %></span> </div>
                                    <div class="score-single"><img src="/img/games/fifa.png" alt="fifa" class="img-fluid img-thumbnail float-left">                                                                                                 
                                        <span class="avg"> <%= player.fifascore %></span>     </div>             
                                              
                                     <div class="score-single"> <img src="/img/games/crash.png" alt="ctr" class="img-fluid img-thumbnail float-left">                                                                                                 
                                         <span class="avg"> <%= player.ctrscore %></span> </div>          
                                   
                                </div>
                                          
                     
                </div>
            </div>

            <%- include("../partials/footer.ejs") %>

                <script>
                    const delplayer = document.querySelector('a.deleteplayer');
                    delplayer.addEventListener('click', (e) => {
                        const endpoint = `/players/${delplayer.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE'
                        })
                            .then((response) => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch((err) => console.log(err));
                    })

                </script>
    </body>

</html>