<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

      <div class="players content">
        <h2>All Players</h2>

        <% if (players.length> 0) { %>
          <% players.forEach(player=> { %>
            <div class="single">
              <a href="/players/<%= player._id %> ">
                <h3 class="title">
                  <%= player.name %>
                </h3>
                <img src="<%= player.flag %> " alt="<%= player.name %>" width="75px">
              </a>
              <p><span>
                <%= player.age %>
              </span> </p>
              <p><span>
                Chekout 
                <%= player.checkout %>
                console.log()
              </span> </p>
            
           
              <a class="delete" data-doc="<%= player._id %>">delete</a>
            </div>

            <% }) %>
              <% } else { %>
                <p>There are no players to display...</p>
                <% } %>

      </div>

      <%- include("../partials/footer.ejs") %>
  </body>

</html>