<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

      <div class="players content container">
        <h2>All Players

          <!-- Button trigger modal -->

        </h2>
        <div class="players-home-form">
          <form class="form-inline" action="/players" method="GET">
            <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success " type="submit">Search</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add a New Gamer
            </button>
          </form>
        </div>

        <!-- add player modaal -->

        <!-- Modal -->
        <%- include("../partials/newplayermodal.ejs") %>



          <div class="row">
            <% if (players.length> 0) { %>
              <% players.forEach(player=> { %>
                <div class="col-md-2 d-flex align-items-stretch text-center">
                  <div class="card card-1">
                    <p class="small">
                      <img src="<%= player.flag %>" class="card-img-top" alt="<%= player.flag %> ">
                      <%= player.name %> <span class="badge badge-info">
                          <%= player.age %>
                        </span>
                    </p>

                    <div class="card-body">
                      <h5 class="card-title">
                        <%= player.gamertag%>
                      </h5>
                      <p class="card-text checkout-date">
                        <%= moment(player.checkout).format( 'DD-MMM-YYYY' ) %>
                      </p>
                      <a href="/players/<%= player._id %> " class="btn btn-primary"><i class="fa fa-user-secret"
                          aria-hidden="true"></i></a>
                      <a class="deleteplayer btn btn-warning" data-doc="<%= player._id %>"> <i class="fa fa-trash"></i>
                      </a>
                      <a href="/updateplayer/<%= player._id %>"><button class="btn btn-success"><i
                            class="fa fa-cloud-upload" aria-hidden="true"></i></button></a>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } else { %>
                    <p>There are no players to display...</p>
                    <% } %>


          </div>

      </div>

      <%- include("../partials/footer.ejs") %>
        <script>
          const delplayer = document.querySelector('a.deleteplayer');
          delplayer.addEventListener('click', (e) => {
            const endpoint = `/players/${delplayer.dataset.doc}`;
            fetch(endpoint, {
              method: 'DELETE'
            })
              .then((response) => response.json())
              .then(data => window.location.href = data.redirect)
              .catch((err) => console.log(err));
          })

        </script>


  </body>

</html>