<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/nav.ejs") %>

		<div class="container game-details">
			<h1><%= blog.title %></h1>
			<div class="row">
				<div class="col-sm-3">
					<img
						src="/img/games/thumbs/<%= blog.img %>"
						class="game-img"
						alt="<%= blog.img %> "
					/>
				</div>
				<div class="col-sm-9 yt-video">
					<iframe
						width="680"
						height="350"
						src="https://www.youtube.com/embed/<%=blog.video%>"
						frameborder="0"
						allowfullscreen
					></iframe>
					<br />
				</div>
			</div>

			<div class="content">
				<br />
				<p class="textarea"><%= blog.textarea %></p>
				<p class="game-snippet"><%= blog.snippet %></p>
			</div>
			<a class="delete btn btn-danger" data-doc="<%= blog._id %>"
				><i class="fa fa-trash"></i
			></a>
			<a href="/updateblog/<%= blog._id %>"
				><button class="btn btn-success">
					<i class="fa fa-cloud-upload" aria-hidden="true"></i></button
			></a>
			<a class="btn btn-info" href="/games">
				<i class="fa fa-hand-o-left" aria-hidden="true"></i
			></a>
		</div>

		<%- include("../partials/footer.ejs") %>

		<script>
			const trashcan = document.querySelector("a.delete");
			trashcan.addEventListener("click", (e) => {
				const endpoint = `/blogs/${trashcan.dataset.doc}`;
				fetch(endpoint, {
					method: "DELETE",
				})
					.then((response) => response.json())
					.then((data) => (window.location.href = data.redirect))
					.catch((err) => console.log(err));
			});

			var loc = redirect_location;
			window.parent.location.replace(loc);
		</script>
	</body>
</html>
