<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
      <h2>All Blogs</h2>
      <% 
        if (games.length > 0 )  { %>
        <% games.forEach( game => { %>
          <h3 class="title"> <%= game.title %> </h3>
          <p class="snippet"><%= game.snippet %></p>

       <%   }) %>

      <%  } else { %> 

        <p> There are no Blogs at this time</p>

      <% } %>

  </div>
  <%- include('./partials/footer.ejs') %> 
</body>
</html>