<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
      <h2>All Blogs</h2>
     
      
      
          <h3 class="title"> <%= games.title %> </h3>
          <p class="snippet"><%= games.snippet %></p>

      
<% console.log(games.length) %> 
      

      

 

  </div>
  <%- include('./partials/footer.ejs') %> 
</body>
</html>