<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
   <!--  create a new player -->
   <div class="container-fluid fn-header">
    
    <h1 class="text-center"> <img src="img/games/logogr.png" alt="gameroom logo" width="150px"> 
      <img src="img/games/fn.png" alt="gameroom logo" width="600px">
        <img src="img/games/logogr.png" alt="gameroom logo" width="150px"> <br>
    </h1>
   </div>
      <div class="container text-center" id="fortnite-home">
      
        <div class="players-home-form">
          <form class="form-inline" action="/players" method="GET">
            <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success " type="submit">Search</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add a New Gamer
            </button>
          </form>
        </div>
          <!-- Modal -->
          <%- include("../partials/newplayermodal.ejs") %>
        <!-- end  create a new player -->

        <div class="row">
          <div class="col-sm-6 ul-wrapper">
            <ul class="list-group">
              <% if (players.length> 0) { %>
                <% players.forEach(player=> { %>            
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <img src="<%= player.flag %>" class="card-img-top img-thumbnail" style="width: 40px;" alt="<%= player.flag %> ">
                        <%= player.gamertag %> 
                        <span class="badge">
                           <span><%= player.age %>  </span>                   
                          <span class="badge ">
                              <a href="/fortnitefullupdateplayer/<%= player._id %>"><button class="btn btn-success"><i
                                    class="fa fa-cloud-upload" aria-hidden="true"></i></button></a>
                              <a class="deleteplayer btn btn-warning" data-doc="<%= player._id %>"> <i
                                  class="fa fa-trash"></i>
                            </a>
                        </span>
                     </span>
                <!--  form for updating fortnite score -->    
                     <form action="/fortniteupdateplayer/<%= player._id%>?_method=POST " method="POST">
                      <input type="number" placeholder="Place" class="playerplace">
                      <input type="number" placeholder="Kills" class="playerkills">
                       <button class="btn btn-info score" > T </button>
                       <input name="fortnitescore" type="number" placeholder="Score" class="tf-score" value="<%= player.fortnitescore %> " >
                       <span class="endscore"><%= player.fortnitescore %> </span>
                     
                     </form>
                
                  
                    </li>
               
                  
                  <% }) %>
                    <% } else { %>
                      <p>There are no players to display...</p>
                      <% } %>
                    </ul>
                  </div>





                <div class="offset-sm-2 col-sm-4 extrascorewrapp"> 
                    <p class="timetr"> <%= moment().format( 'DD-MMM-YYYY' )%>  </p>
                      <% if (players.length> 0) { %>
                        <% players.forEach(player=> { %>            
                          <p class="text-left"><span class="extraname"><%= player.gamertag %></span> <span class="extrascore"><%= player.fortnitescore %></span> </p>
                        
                          
                     <% }) %>
                            <% } else { %>
                              <p>There are no players to display...</p>
                              <% } %>
                  
                    </div>
          </div>
        </div>




        <%- include("../partials/footer.ejs") %>

     
        <script>

          const listItem = document.querySelector('ul.list-group'); 
        

          listItem.addEventListener('click', calcualteScore);
          e.preventDefault();
           function calcualteScore(e){
           
            const item = e.target;
           
            if (item.classList[2] === "score") {          
           
            const list1 = item.parentElement;
            console.log(list1);        
            const placeValue = list1.childNodes[1].value;
            console.log(placeValue); 
            const KillsValue = list1.childNodes[3].value;
            console.log(KillsValue); 
            const ScoreValue = list1.childNodes[7];
            console.log(ScoreValue); 
          ;
            // SCORE VALUE CALCULATOR
            if (placeValue == 1) {
              ScoreValue.value = (100 - placeValue) + (30 * KillsValue) + 100;
            } else if (placeValue == 2) {
              ScoreValue.value = (100 - placeValue) + (30 * KillsValue) + 30;
            } else if (placeValue == 3) {
              ScoreValue.value = (100 - placeValue) + (30 * KillsValue) + 10;
            } else if(placeValue == 0) {
              ScoreValue.value = 0;
            }else{
              ScoreValue.value = (100 - placeValue) + (30 * KillsValue);
            };         
           };
          };
        </script>


  </body>

</html>